<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="configwise" class="configwise" translate="label" sortOrder="100">
            <label>ConfigWise</label>
        </tab>
        <section id="arwidget" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>ConfigWise AR Widget</label>
            <tab>configwise</tab>
            <resource>ConfigWise_ArWidget::arwidget_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ConfigWise AR</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="attributelist" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Select Product id</label>
                    <source_model>ConfigWise\ArWidget\Model\Config\Productlist</source_model>
                    <depends><field id="enable">1</field></depends>
                </field>
                <field id="channel_id" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Channel id</label>
                    <depends><field id="enable">1</field></depends>
                    <comment><![CDATA[Enter Channel id]]></comment>
                </field>
                <field id="domain" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Domain</label>
                    <depends><field id="enable">1</field></depends>
                    <comment><![CDATA[Enter Domain]]></comment>
                </field>
                <field id="company_reference_number" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Company reference number</label>
                    <depends><field id="enable">1</field></depends>
                    <comment><![CDATA[Enter Company reference number]]></comment>
                </field>
            </group> 
        </section>
    </system>
</config>